# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Системні файли
.DS_Store       # macOS
Thumbs.db       # Windows

# Локальні конфігурації
.env
.vscode/
.idea/

# Логи
*.log

# Файли збірки
/dist/
